---
bases:
- ./api-versions.yaml
- ./repositories.yaml

---
releases:
- name: mongodb
  chart: bitnami/mongodb
  {{- if eq (env "ENVIRONMENT") "development" }}
  installed: true
  {{ else }}
  installed: false
  {{- end}}
  values:
  - ./values/values.yaml.gotmpl
  - ./values/{{ requiredEnv "ENVIRONMENT" }}/values.yaml.gotmpl
